In [129]:
from IPython.display import Javascript

In [130]:
%%javascript
require.config({ 
     paths: { 
     d3: 'https://d3js.org/d3.v7.min'
}});

In [131]:
import csv 
import json 

def csv_to_json(csvFilePath, jsonFilePath):
    jsonArray = []
      
    with open(csvFilePath, encoding='utf-8') as csvf: 
        csvReader = csv.DictReader(csvf) 

        for row in csvReader: 
            jsonArray.append(row)
  
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf: 
        jsonString = json.dumps(jsonArray, indent=4)
        jsonf.write(jsonString)
          
csvFilePath = r'C:\Users\kxk\OneDrive\Resources\COVID-19 Deaths and Hospitalization.csv'
jsonFilePath = r'data.json'
csv_to_json(csvFilePath, jsonFilePath)

In [132]:
%%javascript
require.config({ 
     paths: { 
     d3: 'https://d3js.org/d3.v5.min'
}});

In [133]:
%%javascript
require(['d3'], function(d3) {   
     console.log(d3);
});

In [134]:
import json
import pandas
pandas.read_json (r'data.json')

      hospitalised_count  death_count state
0                      1            0
1                      1            0
2                      2            0
3                      7            0
4                      2            0
...                  ...          ...   ...
1426                  99            6
1427                  91            2
1428                  75            6
1429                  18            4
1430                   0            0

[1431 rows x 3 columns]

In [135]:
%%javascript 
function convertPlotData(data){
  var convertedData = [];
  //pandas gives each column the same number of
  //objects, arbitrarily choose one to iterate over
  for(var i in data[Object.keys(data)[0]]){
    var convertedDatum = {};
    for(var key in data){
      convertedDatum[key] = data[key][i];
    }
    convertedData.push(convertedDatum);
  }
  return convertedData;
}

window.convertPlotData = convertPlotData;

In [136]:
%%javascript
require.config({
    paths: {
        d3: '//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min'
    }
});

In [ ]:
import sqlite3
import pandas as pd
from flask import *
app = Flask(__name__)
@app.route("/")
def show_graph():
    connection = sqlite3.connect('recruit.db')

    Plot_df_new = Plot_df_new.drop(['hospitalised_count', 'death_count'])
    Plot_df_new.columns = ['hospitalised_count', 'death_count']
    data = Plot_df_new.to_json()
    return render_template('display.html',data)


if __name__ == "__main__":
    app.run()